@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 800px;
}

header {
    width: 100%;
}

.navegacao {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
    background-color: #2E245E;
    padding: 20px 0px;
}

.logo-loja {
    padding-left: 20px;
    height: 100px;
}

.menu-navegacao {
    display: flex;
    width: 30vw;
    min-width: 300px;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.link-menu-navegacao {
    color: white;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loja {
    padding-top: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
}

.section-banner {
    width: 100%;
}

.imagem-banner {
    width: 100%;
}

.section-lista-de-produtos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Permanent Market', cursive;
    font-size: 50px;
    padding: 20px;
}

h2{
    display: flex;
    font-family: sans-serif;
    color: white;
    background-color: #2E245E;
    height: 40px;
    width: 280px;
    justify-content: center;
    align-items: center;
    margin-bottom: -20px;
}

.lista-de-produtos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px;
}

.item-lista-produto {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0px;
    margin: 15px 0px;
    box-shadow: 0px 5px 20px lightgray;
    border-radius: 10px;
    height: 420px;
    width: 250px;
}


.item-lista-produto:hover {
    box-shadow: 0px 5px 20px black;
    transition: 0.2s;
}


.imagem-produto {
    /* height: 280px;; */
    width: 230px;
}

.tipo-produto {
    background-color: #2E245E;
    color: white;
    padding: 5px;
    align-self: flex-start;
    border-bottom-right-radius: 5px;
}

.nome-produto {
    font-family: sans-serif;
    font-weight: bold;
    font-size: large;
    align-self: flex-start;
    padding-left: 5px;
    padding-top: 5px;
}

.descricao-produto{
    font-family: sans-serif;
    font-size: small;
    align-self: flex-start;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
}

.valor-produto {
    font-family: sans-serif;
    font-weight: bolder;
    font-size: x-large;
    color: red;
    padding: 5px;
}

.button-add-cart {
    background-color: rgb(75, 180, 140);
    height: 40px;
    width: 80%;
    min-width: 200px;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.button-add-cart:hover {
    height: 45px;
    width: 85%;
    transition: 0.3s;
  
}

.link-menu-navegacao-camisetas {
    color: white;
}

.aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    align-self: baseline;
    right: 0;
    background-color: rgba(211,211,211,0.4);
    margin: 0px 10px;
    height: 570px;
    width: 450px;
    border-radius: 10px;
}


.input-pesquisa{
    height: 40px;
    width: 190px;
    border-radius: 5px;
    border: none;
    padding-left: 5px;
    outline: none;
}

.button-pesquisa{
    height: 40px;
    width: 80px;
    border-radius: 5px;
    border: none;
    background-color: #2E245E;
    color: white;
    cursor: pointer;
}


.section-soma-produtos{
    height: 300px;
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    overflow-y: scroll;
    border-radius: 5px;
}


.item-lista-produtos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    margin: 2px;
    box-shadow: 0px 2px 2px lightgrey;
    border-radius: 5px;
}

.item-lista-produtos:hover{
    box-shadow: 0px 2px 5px #2E245E;
}

.img-cart{
    height: 40px;
    width: 40px;
    margin: 3px;
}

.descricao-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 165px;
    font-weight: bold;
    font-family: sans-serif;
}

.button-remove-item-cart{
    width: 120px;
    height: 25px;
    background-color: #2E245E;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.button-remove-item-cart:hover{
    width: 130px;
    transition: 0.2s;
}

.section-valor-final{
    background-color: rgba(211,211,211,0.4);
    padding: 10px;
    border-radius: 5px;
    width: 280px;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button-finalizar-compra{
    height: 30px;
    width: 150px;
    border-radius: 5px;
    background-color: #2E245E;
    color: white;
    border: none;
    cursor: pointer;
}